---
Language: Cpp
BasedOnStyle: Chromium

BinPackArguments: false
BinPackParameters: OnePerLine
BreakInheritanceList: BeforeColon
PackConstructorInitializers: CurrentLine
AlignArrayOfStructures: Right
LambdaBodyIndentation: Signature
AlignAfterOpenBracket: BlockIndent
Cpp11BracedListStyle: true
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false

AllowShortBlocksOnASingleLine: Empty
BreakBeforeBinaryOperators: NonAssignment
ColumnLimit: 120
IndentWidth: 4
InsertBraces: true
SortIncludes: CaseInsensitive
IncludeCategories:
  - Regex: '".*pch\.h"'
    Priority: -1
    CaseSensitive: true
---
